/* Centering Container */
.home-container {
  
  align-items: center;
  justify-content: center;
  background-color: #383838;
  padding-bottom: 2rem; 
  
  max-width: 1200px;
  /* background-color: aliceblue; */
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}

.summary-container {
  
  display: flex;
  align-items: center;
  margin-top: 2rem;
  gap: 2rem;
  padding: 3rem;
  background-color: #4e4e4e;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  max-width: 90vw; /* Limit width to prevent horizontal scroll on small screens */
}



.home-photo img {
  width: 400px;
  height: 400px;
  border-radius: 0%;
  object-fit: cover;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.home-summary {
  max-width: 600px;
}

.home-summary h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #cecece;
}

.home-summary p {
  font-size: 1rem;
  line-height: 1.6;
  font-weight: bold;
  color: #cecece;
}

/* Responsive Design */
@media (max-width: 768px) {
  .home-container {
    padding-bottom: 4rem; /* Add extra space for mobile view */
  }

  .summary-container {
    flex-direction: column;
    text-align: center;
    margin-top: 2rem; /* Adjust top margin for better centering on mobile */
    gap: 1rem; /* Reduce gap between elements */
    /* padding: 1rem; */
  }

  .experience {
    flex-direction: column;
    text-align: center;
    margin-top: 2rem; /* Adjust top margin for better centering on mobile */
    gap: 1rem; /* Reduce gap between elements */
    /* padding: 1rem; */
  }

  .home-photo img {
    width: 150px;
    height: 150px;
  }

  .home-summary h2 {
    font-size: 1.5rem; /* Adjust font size for mobile */
  }

  .home-summary p {
    font-size: 0.9rem; /* Adjust font size for readability */
  }
}




/* Experience Section */
.experience {
 margin-top: 2rem;
  gap: 2rem;
  padding-top: 0.1rem;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-bottom: 3rem;


  background-color: #4e4e4e;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  max-width: 90vw; 
  color: #cecece;
}

.experience h1 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
  text-align: center;
}

.experience h2 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}


.experience p {
  font-weight: bold;
  margin-bottom: 1rem;
}

.experience ul {
  list-style: disc;
  margin-left: 1.5rem;
  padding-left: 0;
}

.experience li {
  line-height: 1.6;
  margin-bottom: 0.5rem;
}